.ButtonIcon {
    transition: .4s ease-in;
    margin: var(--margin-element);
}

.ButtonIcon img {
    transition: .2s ease;
    max-width: 100px;
    flex-shrink: 1;
}
.ButtonIcon:hover {
    cursor: pointer;
    filter: brightness(75%);
}

.button-selected {
    border-radius: .5rem;
    border: 2px var(--color-red-pale) solid;
}