.auth {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: var(--color-teal);
    justify-content: center;
    max-width: 500px;
    max-height: auto;
    width: 450px;
    height: 450px;
    padding: 0.4rem;
    border-radius: 0.6rem;
    box-shadow: 5px 5px 50px -8px var(--color-red-pale);
    z-index: 15;
}
.selector {
    width: auto;
    position: absolute;
    top: 1%;
    right: 1%;
    left: 1%;
    padding: 0.2rem;
    display: flex;
    justify-content: space-evenly;
    color: var(--color-pale);
    background-color: var(--color-teal);
    text-align: center;
}
.selector > div {
    font-size: large;
    padding: 0.3rem;
    background-color: var(--color-mate);
}

.selector > div {
    cursor: pointer;
    transition: background-color .3s;
}

.selectorSignIn {
    border-radius: 0.6rem 0 0 0.6rem;
    flex: 1;
}

.selectorSighUp {
    flex: 1;
    border-radius: 0 0.6rem 0.6rem 0;
}

.selectorSighUp:hover {
    background-color: var(--color-red-pale-hover);
}

.selectorSignIn:hover {
    background-color: var(--color-red-pale-hover);
}

.selected {
    border-top: 4px var(--color-red-pale) solid;
    background-color: var(--color-red-pale) !important;
    flex: 1;
}