.App {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-teal);
  overflow: hidden;
  font-family: var(--font-main);
}

@media screen and (max-height: 700px) {
  .App {
    overflow: visible;
    height: 100%;
  }
}
